
:root{
    --theme-red:#ff2e2e;
}

@media screen and (min-width:600px){
    .work-section-title{
        transform: translateX(-4%);
    }
}

html {
    scroll-behavior: smooth;
  }

body{
    overflow-x: hidden;
}

.row{
    margin-left: 0!important;
    margin-right: 0 !important;
}


@media screen and (max-width:992px) {
    .work-img-box{
        display:none !important;
    }
}

.work-img-box{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 220px;
    width: 350px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    z-index: 10;
    text-align: center;
}



.gradient-green{
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    
}

.gradient-orange{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}

.gradient-blue{
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
}

.gradient-red{
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
}

.about-title{
    font-size: 3.5em;
}

.work-card{
    border-bottom: 1px solid #a5a4a4;
    padding: 15px 10px;
    position: relative;
    background-color: white;
    transition: all 0.2s ease-in;
}

.work-card:hover{
    background-color: #e5e5e566;
}

.work-img{
    display: none;
}

.work-company{
    font-size: 2.3em;
    font-weight: 400;
    text-transform: uppercase;
}

.word-desc{
    font-weight: 300;
}

.work-type{
    font-weight: 300;
}

.work-year{
    font-weight: 400;
    font-size: 1.4em;
    text-align: centers;
}


@media screen and (max-width:650px) {
    .container-footer{
        padding: 2% 0% !important;
    }

    .big-button-box{
        left:0 !important;
        right:0 !important;
    }
}

.container-footer{
    padding: 2% 10%;
    padding-bottom: 0;
}

.footer-title{
    font-size: 3.2em;
}

.big-button-box{
    position: absolute;
    top: 0;
    right: 2%;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.red-btn-bg{
    background: var(--theme-red);
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 325px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

.red-btn-bg:hover .big-btn-overlay{
    transform: scale(1);
}

.big-btn-overlay{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    margin:auto;
    border-radius: 325px;
    width:100%;
    height:100%;
    background-color: #ff0000;
    z-index: 1;
    transform: scale(0);
    transition: all 0.2s ease-in-out;    
}



.red-btn-content{
    text-align: center;
    font-weight: 400;
    font-size: 1.4em;
    letter-spacing: 3px;
    position: relative;
    z-index: 5;
}

.btn-title-small{
    margin: 0;
    font-weight: 300;
    font-size: 0.9em;
}

.btn-title{
    margin: 0;
    font-weight: 400;
    font-size: 1.1em;
    letter-spacing: 2px;
}


@media screen and (max-width:650px) {
    .bottom-btn-control{
        display: none !important;
    }
}

.bottom-btn-control{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.red-btn{
    position: relative;
    padding: 0.5em 2em;
    margin: 0 16px;
    border-radius: 74px;
    background: var(--theme-red);
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.red-btn:hover{
    color:#464646;
}


.red-btn-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    border-radius: 74px;
    background: #cdcccc;
    z-index: 1;
    transition: all 0.2s ease-in-out;
    transform: translateX(100%);
}

.red-btn:hover .red-btn-overlay{
    transform: translateX(0);
} 

.layer-5{
    z-index: 5;
    position: relative;

}


.grey-btn{
    position: relative;
    padding: 0.5em 2em;
    margin: 0 16px;
    border-radius: 74px;
    background: #cdcccc;
    color:#464646;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.grey-btn:hover{
    color: white;
}

.grey-btn-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    border-radius: 74px;
    background:var(--theme-red);
    z-index: 1;
    transition: all 0.2s ease-in-out;
    transform: translateX(-100%);
}

.grey-btn:hover .grey-btn-overlay{
    transform: translateX(0);
} 


.work-img-box{
    display: none;
}



@media screen and (max-width:650px) {
    .social-footer-control{
        justify-content: center;
    }
}

.social-footer-control{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.link-social{
    margin: 10px;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: underline;
}




